.image-modal{
    display: block;
    align-items: center;
    justify-content: center;
    position: fixed;
    max-width: 1000px;
  }
  card{
    height: auto;
  }
  img{
    border: #2d2c2c;
    border-radius:12px;
  }
  input[type="file"] {
    display: none;
  }
  .custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    background-color: aquamarine    ;
    cursor: pointer;
  }
  
  .image-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure it appears on top of other content */
  }