.question-container{
  background-color: whitesmoke;
  display: flex;
  justify-content: space-between;
  align-items:first baseline;
  gap:  10px;
}
.question-detail {
  margin: 0 auto;
  padding: 1rem;
  box-shadow: none;
  max-width: 1100px;
}

.question-detail .mb-4 {
  margin-bottom: 1.5rem;
}
.comments-container{
  display: flex;
  flex-direction: column;
  justify-self: end;
}

