.answer-detail {
  background-color: #f9f9f9;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 900px;
}

.answer-body {
  font-size: 1.2rem; /* Slightly larger font size */
  color: #333; /* Darker color for better readability */
  line-height: 1.6; /* Increased line height for better text spacing */
  margin-bottom: 1rem; /* Space below the body text */
  text-align: justify; /* Justify text for a cleaner look */
}

.answer-rating {
  margin-left: 1rem;
}

.answer-user-dates {
  display: flex;
  align-items: center;
  background-color: #fff7e6; /* Softer background color */
  padding: 10px;
  max-width: max-content;
  align-content: end;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 1rem;
}

.user-info {
  display: flex;
  align-items: center;
}

.user-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.user-details {
  display: flex;
  flex-direction: column;
}

.user-name {
  font-size: 1rem;
  font-weight: bold;
  color: #333;
}

.user-reputation {
  font-size: 0.9rem;
  color: #555;
}

.user-reputation.high {
  background-color: #4caf50;
  color: white;
  padding: 2px 6px;
  border-radius: 12px;
}

.user-reputation.medium {
  background-color: #ff9800;
  color: white;
  padding: 2px 6px;
  border-radius: 12px;
}

.user-reputation.low {
  background-color: #f44336;
  color: white;
  padding: 2px 6px;
  border-radius: 12px;
}

.answer-dates {
  font-size: 0.9rem;
  color: #666;
  margin-left: 1rem;
}
