.question-container-item {
    margin: 0 auto;
    width: 100%;
    padding: 10px;
    background: #000;
    border: 1px solid #f7f6f6;
    border-radius: 10px;
    background-color: #f9f9f9;
  }
  .question-content {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .question-container-item h6,
  .question-container-item h5 {
    text-align:start;
    margin-left: 30px;
  }
  .question-container-item a{
    text-decoration: none;
  }
  .question-container-item p{
    font-size: small;
    text-align: end;
    margin-top: 10px;
  }
  .tags{
    display: inline-block;
    margin: 0 10px 10px 0;
    background-color: #a39e9e;
    color: #000;
    border-radius: 12px;
    padding: 4px 8px;
    font-size: 14px;
    border: 1px solid #d4d4d4;
    text-decoration: none;
  }
  .stats{
    display: flex;
    justify-content: center;
    align-items: self-start;
    gap: 50px;
  }
  .stats p {
    font-style: italic;
  }