.posts-page-container {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
}

.tabs-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.tab {
  padding: 10px 20px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
  flex-grow: 1;
  text-decoration: none;
  color: black;
}

.tab.active {
  background-color: #007bff;
  color: white;
  font-weight: bold;
}

.content-container {
  min-height: 300px;
  margin-bottom: 20px;
}

.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
a {
  margin-right: 20px;
  color: #333;
  text-decoration: none;
  padding: 4px 10px;
}
 a.active {
  color: white;
  background: #333;
  text-decoration: none;
}

.page-button {
  padding: 5px 10px;
  border: 1px solid #ccc;
  cursor: pointer;
}

.page-button.active {
  background-color: #007bff;
  color: white;
}
