.image-container {
    position: relative;
    display: flex;
    margin: 0.5rem;
    justify-content: space-between;
align-items: center;
    border-radius: 0.25rem;
    overflow: hidden; /* Ensures rounded corners for image and button */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adds a subtle shadow */
  }
  
  .image {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: transform 0.3s ease; /* Smooth zoom effect */
  }
  
  .image:hover {
    transform: scale(1.05); /* Slight zoom on hover */
  }
  
