/* components/Loader.css */
.mini-loader-overlay {
    position: static;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
    z-index: 1000; /* Ensure it appears on top of other content */
  }
  
  .loader-gif {
    width: 100px; /* Adjust size as needed */
    height: 100px; /* Adjust size as needed */
  }
  