.related-questions-container {
    padding: 1.5rem;
    border-radius: 8px;
    max-width: 400px;
    position: relative;
  }
  
  .related-question a {
    text-decoration: none;
    color: inherit; /* Ensure the link text color is inherited */
  }
  
  .related-question {
    background-color: rgb(132, 251, 211);
    color: blue;
    padding: 10px; /* Add some padding for better readability */
    margin-bottom: 10px; /* Add some margin between questions */
    border-radius: 4px; /* Rounded corners */
  }
  